a{
    text-decoration: none;
    color: lightskyblue;
}

.scrittoda{
  color: lightgray;  
}

#data{
    font-size: 12px;
}

.description{
    font-size: 12px;
}

ul{
    padding-left: 10px;
    margin: 0;
}

table{
    width: 100%;

}

.thead > th{
    background-color: cornflowerblue;
    color: white;
}

tbody > .color{
    background-color: lightskyblue;
}

footer > h4 {
    color: gray;
    
}

footer > div{
    color: white;
    font-size: 18px;
     
}

.monitor{
    background-image: url("../img/monitor.jpg");
    width: 270px;
    height: 208px;
    background-size: cover;

}

.graph{
    background-image: url("../img/graph.jpg");
    width: 270px;
    height: 208px;
    background-size: cover;

}
